.searchWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 28%;
  background: var(--bg-colour);
  box-shadow: 0 2px 6px 0 hsla(0,0%,0%,.2);
  border-radius: 4px;
  z-index: 500;
  width: 50%;
  height: 50%;
}

.back {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  user-select: none;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 50%;
}

.search h1 {
  color: var(--main-colour);
}

input[type="text"] {
  width: 75%;
  text-align: center;
  color: var(--main-blue);
  border: none;
  padding: 12px 10px;
  border-radius: 100px;
  box-shadow: 0 2px 6px 0 hsla(0,0%,0%,.1);
  background: var(--bg-colour);
  font-size: 20px;
}

input[type="button"]:focus {
  outline: none;
}
input[type="button"]::-moz-focus-inner {
   border: 0;
}

input[type="button"]:active {
  transform: translate(0, 2px);
}

input[type="button"] {
  width: 75%;
  padding: 12px 10px;
  border: none;
  border-radius: 100px;
  background: var(--main-blue);
  color: var(--hover-colour);
  font-size: 20px;
  box-shadow: 0 2px 6px 0 hsla(0,0%,0%,.2);
}
